<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLTraSuaEntities" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QLTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyTraSuaEntities" connectionString="metadata=res://*/CSDL.Model.csdl|res://*/CSDL.Model.ssdl|res://*/CSDL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P3RMIME\SQLEXPRESS;initial catalog=QuanLyTraSua;user id=sa;password=ngochien0409;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>