<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLTraSuaEntities" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QLTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities1" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QLTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities2" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QLTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyTraSuaEntities" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P3RMIME\SQLEXPRESS;initial catalog=QuanLyTraSua;user id=sa;password=ngochien0409;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities3" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ1MELH\TRUONGDUOC;initial catalog=QLTraSua;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities4" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ1MELH\TRUONGDUOC;initial catalog=QLTraSua;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities5" connectionString="metadata=res://*/CSDL.Model2.csdl|res://*/CSDL.Model2.ssdl|res://*/CSDL.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ1MELH\TRUONGDUOC;initial catalog=QLTraSua;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities6" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ1MELH;initial catalog=QLTraSua;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLiTraSuaEntities" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QuanLiTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLiTraSuaEntities1" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QuanLiTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLiTraSuaEntities2" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QuanLiTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLiTraSuaEntities3" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MCTD5N6G;initial catalog=QuanLiTraSua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTraSuaEntities7" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P3RMIME\SQLEXPRESS;initial catalog=QLTraSua;user id=sa;password=ngochien0409;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLiTraSuaEntities4" connectionString="metadata=res://*/CSDL.Model1.csdl|res://*/CSDL.Model1.ssdl|res://*/CSDL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P3RMIME\SQLEXPRESS;initial catalog=QuanLiTraSua;persist security info=True;user id=sa;password=ngochien0409;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>